rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ar_apps/{appId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
